# git submodule update --remote --merge

[submodule "frontend"]
    path = frontend
    url = https://github.com/PaleEXE/pale-uni-app
    branch = main

[submodule "backend"]
    path = backend
    url = https://github.com/sara-ammourh/graduation-project-database
    branch = main